// general styles for the project that wouldn't be a reuseable component

.bg {
  &--grey-lightest { background-color: $grey-lightest; }
}

.site-title {
  position: relative;
  height: 750px;
  padding-top: $core-nav-height-sm;
  padding-bottom: $core-nav-height-sm;
  color: $white;
  @include bp(md){
    padding-top: $core-nav-height;
    padding-bottom: $core-nav-height;
  }
  @include vbp(650px){
    height: 100%;
    padding-top: 22.5vh;
  }
  .flexbox & {
    display: flex;
    align-items: center;
    padding-top: $core-nav-height;
  }
}

.img-block {
  text-align: center;
  line-height: 0;
  > * { display: inline-block; }
  &--3-3-3 > * { width: 100%; max-width: 300px; }
  @include bp(lg){
    &--3-3-3 > * { width: 33.33%; max-width: none; }
  }
}

.price {
  color: $b-red;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1;
}

.site__bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-background;
  background-image: url('../img/bg/bg.jpg');
  background-color: #302419;
  @include background-attributes;
}

.is-stuck {
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: $z-nav-upper;
}

.nbsp {
  display: none;
  @include bp(lg){ display: inline; }
}