<div class="hotel row region__offer" style="background-color:{{region.offer-bg-color}}">
  <div class="hotel__image" style="background-image: url('{{site.baseurl}}/img/offers/{{hotel.id}}/main.jpg')">
    <a id="tracking-launch-image-{{hotel.id}}" class="js-open-panel" data-open-panel="{{hotel.id}}"></a>
  </div>
  <div class="hotel__content page__content boxpad--md">
    <div class="title title--xs">{{hotel.title}}</div>
    <p>{{hotel.description | truncatewords: 38}}</p>
    <p class="p--small">From <span class="price">£{{hotel.price}}</span> {{ hotel.price-description }}</p>
    <a id="tracking-launch-cta-{{hotel.id}}" class="btn btn--red js-open-panel" data-open-panel="{{hotel.id}}">View Offer</a>
  </div>
</div>