<div class="row row--xl text--center">
  <div class="title title--core title--xxxs title--upper title--kerning-lg">Exclusive {{region.title}} Offer</div>
  <div class="title title--md">{{hotel.title}}</div>
</div>
<div class="row row--xxl row--7-5-gutters row--valign" style=" background-color:{{region.offer-bg-color}}">
  <div class="col">
    <a class="js-open-panel" data-open-panel="{{hotel.id}}"><div class="bg-img bg-img--4-3" style="background-image: url('{{site.baseurl}}/img/offers/{{hotel.id}}.jpg')"></div></a>
  </div>
  <div class="col boxpad--sm page__content">
    <p>{{hotel.description}}</p>
    <p class="p--small">From <span class="price">£{{hotel.price}}</span> {{ hotel.price-description }}</p>
    <a class="btn btn--red js-open-panel" data-open-panel="{{hotel.id}}">View Offer</a>
  </div>
</div>