// Offer styles on slide out panel

.offer {
  &__top {
    @include layout($gutters);
    @include container($xxxl);
  }
  &__price {
    display: inline-block;
    margin-top: $s4;
  }
  @include bp(xxl){
    &__title {
      @include span(8);
    }
    &__price {
      @include span(4 last);
      margin-top: 0;
      text-align: left;
    }
  }
}