.region {
  padding-bottom: $s10;
  color: $white;
  background-color: $b-grey;
  background-position: top center;
  background-repeat: no-repeat;
  &__title {
    position: relative;
    z-index: $z-content-upper;
    font-size: $s6;
    @include bp(md){ font-size: $s8; }
    @include bp(xl){ font-size: $s10; }
  }
  &__offers {
    margin-top: $s-3;
    text-align: center;
    letter-spacing: $s3;
  }
  &__offer {
    display: inline-block;
    width: 100%;
    margin-top: $s3;
    vertical-align: top;
    letter-spacing: 0;
    &--multiple { max-width: 480px; }
  }
  &--padding {
    padding: $s4 $s2;
    @include bp(lg){
      padding: $s6 $s4;
    }
  }
}